<h1> DEPARtMENT DETAILS</h1>
<hr>
<h2> SCIENCE: </h2><br>
<hr>
<p> Toppers 
Arun -   98 percent<br>
Movina -   95 percent<br>
</p>
<h3> COMMERCE </h3>
<hr>
<p> Toppers 
vinodh - 95 percent <br>
jocy - 88 pecent <br>
</p>